/*  */

/* App Container */
div#root{
  display: block;
  max-width:1200px;
  width: 100%;
  margin: 0 auto;
  background-color:#eee;
  padding:0 0 40px 0;
}
/* Navigation */
.navigation{
  padding:20px;
}

.login-container{
  text-align: center;
  padding:20px;
  margin-top:40px;
  background-color:white;
}