/*  */

  /* colors */
  /* blue:#037C8D */
  /* orange: #E69E01 */
  /* red : #E61101 */
  /* green: #3dcea6 */


/* App Container */
div#root{
  display: block;
  min-height: 800px;
  width: 100%;
  padding: 60px 40px 0;
  background-color: #efefef;
}

.app-holder{
  /* max-width: 960px; */
  margin: 0px auto;
  min-height: 800px;
}
.loading{
  width:100%;
  background:#E61101;
  height:3px;
  position: absolute;
  left:0;
  z-index: 9;;
}

/* Navigation */
.navigation{
  padding:20px;
}

.login-container{
  text-align: center;
  padding:20px;
  margin-top:40px;
  background-color:white;
}

.top-bar{
  padding:0;
  margin-bottom:40px;
  position: fixed;
  width: 100%;
  top:0;
  left:0; 
}
.top-bar, .top-bar ul {
  background-color:#060606;
}


.is-active{
  background-color: #E69E01;
  color:white !important;
  font-weight: 700;
}

.game-logo{
  margin: 40px 0;
}

.avatar{
  width: 40px;
  border-radius: 50%;
  margin-right:10px;
}
.avatar-full{
  width:100%;
  border-radius: 50%;
}

.avatar-holder{
  padding:0 !important;
  margin-top:0;
}

.user-info{
  font-size:13px;
  padding:0;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-info {
  line-height: 1;
}
.user-info div p{
  margin-bottom:0;
  padding:0 !important;
}
.user-info div p span{
  font-weight: 300;
}
.user-status{
  display: flex;
  align-items: center;
  justify-content: stretch;
  color:white !important;
}

li a {
  font-size:1.2rem;
  color:white;
  /* border-right:1px solid rgba(255,255,255,0.3); */
}

.menu-text{
  display: flex;
  padding: 0 !important;
  margin-right:10px;
  color:white !important;
}

.menu-text div p{
  padding-top:12px;
  line-height: 1;
}

.dropdown.menu> li > a {
  padding: 0.8rem 1rem;
}

button{
  height: 100%;
}

/* home container */
.container{
  max-width:960px;
  margin:0 auto;
  padding:20px;
  background-color:#efefef;
}

.container-small{
  max-width: 600px;  
}
.container-title{
  text-align: center;
  margin-bottom:30px;
}

.question-container{
  padding:20px;
}
.question-container h3 {
  text-transform: uppercase;
}

.question-container.light-orange{
  padding:20px;
  background-color: rgba(230,158,0, 0.4);
}

.question-container.light-blue{
  padding:20px;
  background-color:rgba(3,121,124, 0.4);
}


.individual-question{
  background-color:white;
  padding-top:15px;
  padding-bottom:15px;
  margin-top:20px;
}

.author-img{
  border-radius:50%;
}

/* TABS */
.tabs{
  min-height: 40px;
  border: none;
}
.tabs li {
  height: 100%;
  line-height: 30px;
  padding:10px 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  color:white;
}
.tabs li:last-child {
  background-color:#037C8D;
}

.tabs li:first-child {
  background-color:#E69E01;
}


/* button */
  .button-rounded-hover {
    border: 0;
    border-radius: 5000px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all 0.35s ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }

  .button-rounded-hover:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #fefefe;
    transition: all 0.3s;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  .button-rounded-hover:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 5px solid #115b8d;
    content: '';
    border-radius: inherit;
  }

  .button-rounded-hover:hover,
  .button-rounded-hover:focus {
    background-color: #115b8d;
  }

  .button-rounded-hover:hover:before,
  .button-rounded-hover:focus:before {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 0.25;
  }


  /* Leader Board */

  .leader-board{
    padding:20px;
  }

.leader-board__player{
  margin-top:20px;
  background-color:white;
  padding:20px;
}

.leader-board__player:nth-child(1){
  margin-top:0;
}

.leader-board__player:nth-child(2) .score--count{
  background-color:silver;
}

.leader-board__player:nth-child(3) .score--count{
  background-color:brown;
}

.score--title{
  padding:10px;
  text-align: center;
}

.score--count{
  font-size:40px;
  text-align: center;
  font-weight: 700;
  background:#E69E01;
  color:white;

}

/* answered Container */
.answered-container{
  max-width:600px;
  margin:0 auto;
  padding:20px;
  background-color: #fff;
  /* border: 2px solid #cccccc; */
}

.answered-container.unanswered{
  background-color: #fff;
  /* border: 2px solid #cccccc; */
}

.answered-container img {
  border-radius:50%;
  
}

.answered-container__title {
  margin-bottom:20px;
  padding:0 20px 20px ;
  border-bottom: 1px solid #cccccc;
}

.result-cointainer {
  padding:20px;
  margin-bottom:20px;
}
